<!DOCTYPE html>
<html lang="es">
<head>
<title>Mercado Liebre</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.10.4/mercadolibre/favicon.svg" rel="icon">
<link rel="stylesheet" href="/styles/style-index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<main class="principal">
<header>
<div class="barraSuperior">
    
        <div class="logo">
            <a href="/"><img class="logo-imagen" src="/images/logo-mercado-liebre.svg"></a>
        </div>
        <div class="buscador">
            <form action="#">
                <input type="text" placeholder="Buscar productos, marcas y más." alt="Buscador de productos" value=""></input>
                <input type="submit" id="buscador" alt="Buscar" value="🔍️"></input>
            </form>
        </div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <div class="menu">
        <a><i class="fa fa-bars"></i></a>
    </div>
    <nav class="navbar">
    <ul>
        <li type="none"><a href="#ofertas">Ofertas</a></li>
        <li type="none"><a href="">Tiendas Oficiales</a></li>
        <li type="none"><a href="">Vender</a></li>
        <li type="none"><a href="">Ayuda</a></li>
    </ul>
    <ul>
        <li type="none"><a href="/registro">Creá tu cuenta</a></li>
        <li type="none"><a href="/login">Ingresá</a></li>
        <li type="none"><a href="">Mis compras</a></li>
    </ul>
    </nav>
</div>
</header>

<section>
<img class="banner" src="/images/img-home-banner.jpg">
</section>
<section class="ultimaVisita">
<h3 class="titulo">Basado en tu última visita</h3>

<article class="producto">
    <div class="producto-imagen">
        <img width="100%" src="/images/img-cafetera-moulinex.jpg">
    </div>
    <div class="producto-descripcion">
        <i class="fa fa-truck" style="font-size:24px"></i>
        <div class="producto-precio">
            <p>$6.770</p>
        </div>
        <div class="producto-descuento">
            <p>40% OFF</p>
        </div>
        <div class="producto-titulo">
            <p><strong>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</strong></p>
        </div>
    </div>
</article>
<article class="producto">
    <div class="producto-imagen">
        <img width="100%" src="/images/img-macbook-pro-2019.jpg">
    </div>
    <div class="producto-descripcion">
        <i class="fa fa-truck" style="font-size:24px"></i>
        <div class="producto-precio">
            <p>$230.000</p>
        </div>
        <div class="producto-descuento">
        <p>20% OFF</p>
        </div>
        <div class="producto-titulo">
            <p><strong>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</strong></p>
        </div>
    </div>
</article>
<article class="producto">
    <div class="producto-imagen">
        <img width="100%" src="/images/img-samsung-galaxy-s10.jpg">
    </div>
    <div class="producto-descripcion">
        <i class="fa fa-truck" style="font-size:24px"></i>
        <div class="producto-precio">
        <p>$70.500</p>
            </div>
        <div class="producto-descuento">
            <p>15% OFF</p>
        </div>
        <div class="producto-titulo">
            <p><strong>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</strong></p>
        </div>
    </div>
</article>
<article class="producto">
    <div class="producto-imagen">
        <img width="100%" src="/images/img-tv-samsung-smart.jpg">
    </div>
    <div class="producto-descripcion">
        <i class="fa fa-truck" style="font-size:24px"></i>
        <div class="producto-precio">
            <p>$34.000</p>
        </div>
        <div class="producto-descuento">
            <p>5% OFF</p>
        </div>
        <div class="producto-titulo">
            <p><strong>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</strong></p>
        </div>
    </div>
</article>
</section>

<section class="ofertas">
<a name="ofertas">
<h3 class="titulo">Ofertas</h3>
</a>
<article class="producto">
    <div class="producto-imagen">
        <img src="/images/img-cafetera-moulinex.jpg">
    </div>
    <div class="producto-descripcion">
        <i class="fa fa-truck" style="font-size:24px"></i>
        <div class="producto-precio">
            <p>$6.770</p>
        </div>
        <div class="producto-descuento">
            <p>40% OFF</p>
        </div>
        <div class="producto-titulo">
            <p><strong>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</strong></p>
        </div>
    </div>
</article>
<article class="producto">
    <div class="producto-imagen">
        <img src="/images/img-macbook-pro-2019.jpg">
    </div>
    <div class="producto-descripcion">
        <i class="fa fa-truck" style="font-size:24px"></i>
        <div class="producto-precio">
            <p>$230.000</p>
        </div>
        <div class="producto-descuento">
            <p>20% OFF</p>
        </div>
        <div class="producto-titulo">
            <p><strong>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</strong></p>
        </div>
    </div>
</article>
<article class="producto">
    <div class="producto-imagen">
        <img src="/images/img-samsung-galaxy-s10.jpg">
    </div>
    <div class="producto-descripcion">
        <i class="fa fa-truck" style="font-size:24px"></i>
        <div class="producto-precio">
            <p>$70.500</p>
        </div>
        <div class="producto-descuento">
            <p>15% OFF</p>
        </div>
        <div class="producto-titulo">
            <p><strong>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</strong></p>
        </div>
    </div>
</article>
<article class="producto">
    <div class="producto-imagen">
        <img src="/images/img-tv-samsung-smart.jpg">
    </div>
    <div class="producto-descripcion">
        <i class="fa fa-truck" style="font-size:24px"></i>
        <div class="producto-precio">
            <p>$34.000</p>
        </div>
        <div class="producto-descuento">
            <p>5% OFF</p>
        </div>
        <div class="producto-titulo">
            <p><strong>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</strong></p>
        </div>
    </div>
</article>
</section>
</main>
<hr>
<footer>
    <article class="piePag">
        <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/payment.svg" class="iconos" alt="Pagá con tarjeta o en efectivo">
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="piePag">
        <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/shipping.svg" class="iconos" alt="Envío gratis desde $ 2.500">
        <p><strong>Envío gratis desde los $ 2.500</strong></p>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.</p>
    </article>
    <article class="piePag">
        <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/protected.svg" class="iconos" alt="Seguridad, de principio a fin">
        <p><strong>Seguridad, de principio a fin</strong></p>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre protegid@.</p>
    </article>
    <div><p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p></div>
</footer>
</body>
</html>